@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.spaceGroteskRegular {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}
.spaceGroteskMedium {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

.spaceGroteskBold {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}



.robotoRegular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.robotoMedium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.robotoBold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.openSansRegular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.openSansMedium {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.openSansBold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}



/* Custom scrollbar (WebKit browsers) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0EA5E9;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0284C7; /* slightly darker blue */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0EA5E9 transparent;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: var(--dot-color-start);
    box-shadow: 0 0 0 0 var(--dot-shadow);
  }

  50% {
    transform: scale(1.0);
    background-color: var(--dot-color-end);
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: var(--dot-color-start);
    box-shadow: 0 0 0 0 var(--dot-shadow);
  }
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: var(--dot-color-start);
  animation: pulse 3s infinite ease-in-out;
  transition: background-color 0.3s;
}

:root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --footer-bg: rgba(0, 0, 0, 0.5);
    --dot-color-start: #b3d4fc;
    --dot-color-end: #6793fb;
    --dot-shadow: rgba(178, 212, 252, 0.7);
}
